html {
  font-size: medium;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--text-normal);
}

:root {
  --text-normal: #4e4e4e;
  --color-btn-text: #4e4e4e;
  --color-btn-bg: rgb(253, 253, 253);
  --color-btn-border: #313131;
}

button {
  color: var(--color-btn-text);
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: solid 1px var(--color-btn-border);
  background-color: var(--color-btn-bg);
  cursor: pointer;
  box-shadow: 0 0.5px 2px gray;
}

button.danger {
  --color-btn-text: #fcf2f2;
  --color-btn-bg: rgb(255, 96, 96);
  --color-btn-border: rgb(253, 71, 71);
}

button.primary {
  --color-btn-text: #fcf2f2;
  --color-btn-bg: rgb(87, 177, 255);
  --color-btn-border: rgb(7, 102, 205);
}

button:hover {
  border-color: rgb(231, 255, 255);
  transition: all .5s ease;
}

input {
  outline: none;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: solid 1px rgb(125, 125, 128);
}

input:focus {
  border: solid 1px rgb(224, 199, 34);
  transition: all .5s ease-out;
}